<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="uppercase">noclegownie</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="list-items">
    <div class="list-item">
      <div class="item-title uppercase">Caritas Archidiecezji Warszawskiej</div>
      <div class="item-address">
        <ion-icon name="pin" color="black" size="small"></ion-icon>ul. Żytnia 1A 01-014</div>
      <div class="item-opening-hours">
        <ion-icon name="time" color="black" size="small"></ion-icon>pon,wt,pt 13:00 to </div>
      <div class="item-phone">
        <ion-icon name="call" color="black" size="small"></ion-icon>
        tel: 22 838 70 25
      </div>
      <div class="item-email">
        <ion-icon name="" color="black" size="small"></ion-icon>
        email: ztel: 22 838 70 25ytniacaritas.pl
      </div>


    </div>

  </div>

</ion-content>
