ion-menu-button {
  color: var(--ion-color-primary);
}

.cards-section {
  ion-card-content {
    display: block;
  }
}

.uppercase {
  text-transform: uppercase;
}

.title {
  text-align: center;
}

#container {
  text-align: center;
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 25%;
  min-width: 30%;
  width: auto;

  .card-container {
    width: 40%;
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
